/*! LightsOut ~ by Bronek Szulc @ github.com/bszulc */

//
// Main
//

@import 'bourbon';


// dimesions
$size        : 400;
$rows        : 5;
$outer-size  : $size * 1px;
$inner-size  : ( $size / $rows ) * 1px;
$extra-space : ( $size / 10 ) * 1px;


// spacing
$game-vertical-margin : ( $size / 25 ) * 1px;
$game-padding-sides   : 7px;
$game-border-width    : 1px;


// common
$border-radius : 3px;


// mobile 
$mobile-width-breakpoint  : ( $size * 1px ) + ( $extra-space * 2 );
$mobile-game-border-width : 1px;


// themes and colors
@import 'partials/themes';


@import 'partials/global';
@import 'partials/container';
@import 'partials/controls';
@import 'partials/media';