/*! LightsOut ~ by Bronek Szulc @ github.com/bszulc */

//
// Main
//

@import 'bourbon';


// dimesions
$size        : 430;
$rows        : 5;
$outer-size  : $size * 1px;
$inner-size  : ( $size / $rows ) * 1px;
$extra-space : ( $size / 10 ) * 1px;


// animation
$pointsScreenDelay : 1500ms;


// spacing
$game-vertical-margin : ( $size / 25 ) * 1px;
$game-border-width    : 1px;
$game-padding-sides   : 7px;
$game-padding-bottom  : $game-padding-sides + 2px;
$game-padding         : $game-padding-sides $game-padding-sides $game-padding-bottom;

$btn-padding-top   : 7px;
$btn-padding-sides : 25px;


// common
$border-radius : 3px;
$muted         : #626262;
$hoverDarken   : 5%;


// mobile 
$mobile-width-breakpoint  : ( $size * 1px ) + ( $extra-space * 2 );
$mobile-game-border-width : 1px;


// themes and colors
@import 'partials/themes';


@import 'partials/global';
@import 'partials/container';
@import 'partials/points-screen';
@import 'partials/controls';
@import 'partials/options';
@import 'partials/media';