//
// Keyframe Animations
//

// spin
//
@include keyframes( spin ) {
  100% { transform: rotate( 360deg );  }
}

// slide
//
@include keyframes( slide ) {
  100% { left: 48%; }
}

// fadeIn
//
@include keyframes( fadeIn ) {
  from { opacity: 0; }
  to   { opacity: 1; }
}
