//
// Container
//

$game-padding : 7px $game-padding-sides 9px;

$inner-border : 2px solid #fff;
$cell-padding : 5px;

#game-container {
  width: $outer-size;
  height: $outer-size;
  margin: $game-vertical-margin auto;
  padding: $game-padding;
  border-radius: $border-radius;

  * {
    box-sizing: border-box;
  }

  .grid-row {
    height: $inner-size;
    padding: 0;

    &:not(:first-child) {
      border-top: $inner-border;
    } 
  }

  .grid-cell {
    display: table-cell;
    height: $inner-size;
    width: $inner-size;
    padding: $cell-padding;
    border-radius: $border-radius; 
    cursor: pointer;

    &:not(:first-child) {
      border-left: $inner-border;
    } 
  }
}