//
// Controls
//

@mixin controls-width() {
  width: $outer-size + ( $game-padding-sides * 2 ) + ( $game-border-width * 2 );
  margin: 0 auto;
}


#game-controls {
  width: $outer-size;
  margin: 0 auto;
  padding: $game-padding;
  border-radius: $border-radius;

  &.removed {
    display: none;
  }
}

#level-name {
  min-height: 37px;
  text-align: center;

  @include controls-width();
}

#moves-and-score {
  margin: 0 2px $game-vertical-margin;

  @include clearfix;
}

#moves-wrapper,
#score-wrapper {
  width: 50%;
  float: left;
  margin: 0;
}

#controls-buttons {
  @include clearfix;
}

#options-toggle-wrapper {
  float: right;
  width: 40%;
  text-align: right;
}

#options-toggle {
  display: inline-block;
  color: $muted;
  padding: ( $btn-padding-top * 2 ) 0 0;

  &:hover {
    color: darken( $muted, $hoverDarken );
  }
}
