//
// Global
//

html, body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: 'Play', sans-serif;
  letter-spacing: 1px;
  padding: 20px 0 0;
}

a {
  text-decoration: none;
  outline: none;
}

.wrapper {
  width: ( $size * 1px ) + $extra-space;
  margin: 0 auto;
  @include clearfix;
}

.btn {
  padding: $btn-padding-top $btn-padding-sides;
  border: 0;
  border-radius: $border-radius;
  font-weight: bold;
}

.btn-alpha,
.btn-beta {
  color: #fff;
}