//
// media
//

@media screen and ( max-width: $mobile-width-breakpoint ) {

  // spacing
  $mobile-margin       : 3%;
  $mobile-game-padding : 2%;
  $mobile-cell-padding : 1%;
  $mobile-cell-width   : ( $size * ( $rows * 0.1 ) ) * 1px;
  $mobile-inner-size   : 100% / $rows;
  $mobile-inner-border : 1px solid #fff;
  

  #game-container,
  #game-controls,
  #level-name {
    box-sizing: border-box;
  }

  
  //
  // Global
  //
  body {
    padding: ( $mobile-game-padding * 2 ) 0 0;
  }

  .wrapper {
    width: auto;
    margin: 0 $mobile-margin;
  }


  //
  // Container
  //
  #game-container {
    width: 100%;
    height: 0;
    margin: $mobile-margin 0;
    padding: $mobile-game-padding;
    padding-bottom: 99%;

    .grid-row {
      height: 0;
      padding: 0 0 $mobile-inner-size;

      &:not(:first-child) {
        border-top: $mobile-inner-border;
      } 
    }

    .grid-cell {
      height: 0;
      width: $mobile-cell-width;
      padding: 0 0 $mobile-inner-size;

      &:not(:first-child) {
        border-left: $mobile-inner-border;
      } 
    }
  }


  //
  // Points Screen
  //
  #points-screen {
    h2 {
      font-size: 18px;
    }
  }

  #points-earned-label,
  #moves-made-label {
    width: 50%;
  }


  //
  // Controls
  //
  #game-controls {
    width: 100%;
    padding: $mobile-game-padding;
  }

  #level-name {
    width: 100%;
    min-height: 25px;
    font-size: 22px;
  }

  #moves-and-score {
    margin-bottom: $mobile-margin;
    font-size: 14px;
  }

}

@media screen and ( min-width: 515px ) {
  .init-load-wrapper {
    top: 5%;
    right: -11px;
    left: auto;
    bottom: auto;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #c2c2c2;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    &:before {
      display: none;
    }

    &:after {
      content: "";
      position: absolute;
      right: -1px;
      bottom: -23px;
      width: 0;
      height: 0;
      border-bottom: 11px solid transparent;
      border-right: 11px solid transparent;
      border-top: 11px solid #b2b2b2;
    }

    .init-load-game,
    .init-cancel-load {
      font-size: 1em;
    }

    .init-load-game {
      position: static;
      width: auto;
      padding: 5px;
      margin: 0;
      transform: none;
      border: 1px solid #bbb;
      border-radius: $border-radius;
    }

    .init-cancel-load {
      display: none;
    }
  }
}