//
// Options
//

#options {
  height: 0;
  margin: 0;
  padding: 0;
  border-top: 0;
  overflow: hidden;

  & > * {
    visibility: hidden;
  }

  @include clearfix;
  @include transition( all 0.3s ease );

  &.opened {
    height: auto;
    margin-top: 15px;

    & > * {
      visibility: visible;
    }
  }
}

.options-label {
  width: 35%;
  display: inline-block;
  vertical-align: bottom;
}

.options-offset {
  display: inline-block;
  margin-left: 36%;
}

.select {
  min-width: 30%;
  padding: 1% 0.5%;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  min-width: 40px;
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #c0392b;

  &:hover {
    background-color: darken( #c0392b, $hoverDarken );
  }

  &.active {
    background-color: #27ae60;

    &:hover {
      background-color: darken( #27ae60, $hoverDarken );
    }
  }
}

#load-game,
#saved-label {
  display: none;
}

#saved-info {
  display: none;

  span:not(#saved-label) {
    display: inline-block;
    background-color: #fff;

    @include transition( background-color 0.5s ease );
  }

  &.highlight span:not(#saved-label) {
    color: #000;
    background-color: #fbffcb;
  }
}

#saved-label {
  font-weight: bold;
  font-style: italic;
}

// a stored game has been found
#options.active-storage {
  #load-game,
  #saved-label {
    display: inline-block;
  }

  #saved-info {
    display: block;
  }
}