//
// Options
//

#options {
  height: 0;
  margin: 0;
  padding: 0;
  border-top: 0;
  overflow: hidden;

  & > * {
    visibility: hidden;
  }

  @include clearfix;
  @include transition( all 0.3s ease );

  &.opened {
    height: auto;
    margin-top: 15px;
    border-top: 1px solid $muted;

    & > * {
      visibility: visible;
    }
  }
}

#theme-select {
  min-width: 30%;
  padding: 1% 0.5%;
}

#toggle-points-screen {
  position: absolute;
  visibility: hidden;
}

#toggle-points-screen-label {
  padding-right: 35px;

  span {
    min-width: 24px;
    background-color: #c0392b;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 5px 10px;
    color: #fff;

    &.active {
      background-color: #27ae60;
    }
  }
}