// 
// Themes
//

$default : #555 #aaa;
$red     : #c0392b #bdc3c7;
$green   : #00b16a #bdc3c7;
$blue    : #2c3e50 #bdc3c7;
$purple  : #9b59b6 #bdc3c7;
$cats    : 'http://lorempixel.com/76/76/cats/';


@mixin colorSet( $colors: $default ) {
  $dark  : nth( $colors, 1 );
  $light : nth( $colors, 2 );
  
  //
  // Global
  //
  .btn-alpha {
    background-color: $dark;

    &:hover {
      background-color: darken( $dark, $hoverDarken );
    }
  }
  .btn-beta {
    color: #555;
    border: 1px solid;
    border-color: #929292;
    background: #ddd;

    &:hover {
      background-color: darken( #ddd, $hoverDarken );
    }
  }


  //
  // Container
  //
  #game-container {
    border: $game-border-width solid $dark;
    
    .grid-cell {
      background-color: $dark;

      &.light-cell {
        background-color: $light;
      }
    }
  }


  //
  // Points Screen
  //
  #points-screen {
    background-color: transparentize( lighten( $light, 30% ), 0.15 );
  }


  //
  // Controls 
  //
  #game-controls {
    border: $game-border-width solid $dark;
  }


  //
  // Options
  //
  #options.opened {
    border-top: 1px solid $dark;
  }


  @media screen and ( max-width: $mobile-width-breakpoint ) {
    
    #game-container,
    #game-controls {
      border-width: $mobile-game-border-width;
    }

  }
}


// default theme 
body {
  @include colorSet();
}

// red theme
body.red-theme {
  @include colorSet( $red );
}

// green theme
body.green-theme {
  @include colorSet( $green );
}

// blue theme
body.blue-theme {
  @include colorSet( $blue );
}

// purple theme
body.purple-theme {
  @include colorSet( $purple );
}

// cats theme 
body.cats-theme {
  #game-container {
    .grid-cell {

      &.light-cell {
        background: url( $cats ) no-repeat;
        background-size: cover;
        background-color: nth( $default, 2 );
      }
    }
  }
}